body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7
}

header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: 5em;
    background-color: #cccccc;
    text-decoration: none;
}

.home{
    display: grid;
    place-content: center;
    text-decoration: none;
    
}

.home button{
    text-decoration: none;
    background-color: rgb(240, 10, 10);
    padding: 0.5em;
    border-radius: 4px;
    margin: 0 20px;
}

.home button:hover{
    background-color: blue;
    color: #cccccc;
}

.ancora{
    display: flex;
    align-items: center;
    place-content: center;
    gap: 20px;
}

.ancora button{
    text-decoration: none;
    background-color: rgb(238, 0, 0);
    border-radius: 4px;
    padding: 0.5em;
}

.ancora button:hover{
    background-color: blue;
    color: #cccccc;
}

main{
    
}

.txt{
    display: grid;
    grid-template-columns: 10fr 1fr;
    height: 15em;

}

.t1{
    color: red;
    place-self: center;
    place-self: end;
    padding: 1em;
    margin-bottom: 16px;
}

.t1:hover{
    background-color: blue;
    color: black;
}

.txt1{
    display: grid;
    grid-template-columns: 10fr 1fr;
    background-color: #efefef;
}

.t2{
    max-width: 120px;
    place-self: center;
}

.skill{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: purple;
    height: 40em;
    background-color: #202020;
}

.s1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-self: center;
}

.s2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-self: center;
}

.s1a{
    grid-column-start: 1; 
    list-style-type: none;
}

.s1b{
    grid-column-start: 2;
    list-style-type: none;
}

.skillTxt1{
    grid-column: 1 / span 2;
    place-self: center;
}

.skillTxt2{
    grid-column: 1 / span 2;
    place-self: center;
}

footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: #9468E6;
}

.symbols{
    place-self: center;
    padding: 0;
    margin: 0;
    gap: 10px;
    size: 2em;
}

.symbols li{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

.footDetail{
    max-width: 200px;
    place-self: center;

}

.inf{
    place-self: center;
    grid-column: 3 /span 3;
    grid-row: 1 / span 2;
    list-style: none;
}

.symbols1{
    justify-self: center;
}

.footDetail1{
    align-self: end;
    justify-self: center;
}