body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: #f7f7f7;
}

header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: 3.75em;
    background-color: #cccccc;
    border-radius: 0.3em;
    text-decoration: none;
}

.home{
    display: grid;
    place-content: center;
    text-decoration: none;
    
}

.home button{
    text-decoration: none;
    background-color: rgb(240, 10, 10);
    padding: 0.5em;
    border-radius: 4px;
    margin: 0 20px;
}

.home button:hover{
    background-color: blue;
    color: #cccccc;
}

.ancora{
    display: flex;
    align-items: center;
    place-content: center;
    gap: 20px;
}

.ancora button{
    text-decoration: none;
    background-color: rgb(238, 0, 0);
    border-radius: 0.3em;
    padding: 0.5em;
}

.ancora button:hover{
    background-color: blue;
    color: #cccccc;
}

.txt{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 15em;
}

.tp{
    place-self: center;
    justify-self: end;
    width: 30em;
}

.t1{
    color: red;
    place-self: end;
    justify-self: start;
    padding: 1em;
    margin-bottom: 16px;
}

.t1:hover{
    background-color: blue;
    color: black;
}

.txt1{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #efefef;
    width: 90em;
    height: 15em;
}

.tp1{
    place-self: center;
    justify-self: end;
    width: 30em;
}

.t2{
    max-width: 120px;
    place-self: center;
}

.skill{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: purple;
    height: 15em;
    background-color: #202020;
    border-radius: 0.4;
}

.s1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-self: center;
}

.s2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-self: center;
}

.skillH2{
    grid-column: 1 / span 2;
    place-self: center;
}
.s1a{
    grid-column-start: 1; 
    list-style-type: none;
    
}

.s1b{
    grid-column-start: 2;
    list-style-type: none;
}

footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: #9468E6;
    background-repeat: repeat-y;
}

.symbols{
    place-self: center;
    padding: 0;
    margin: 0;
    gap: 10px;
    size: 2em;
}

.symbols img{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

.footDesigner{
    max-width: 200px;
    place-self: center;

}

.inf{
    place-self: center;
    grid-column: 3 /span 3;
    grid-row: 1 / span 2;
    list-style: none;
    color:#DDDDDD;
}

.symbols1{
    justify-self: center;
}

.copyRight{
    align-self: end;
    justify-self: center;
}