body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: #f7f7f7;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 6em;
    right: 0.4em;
    z-index: 10;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: #cccccc;
    cursor: pointer;
    padding: 1.5em;
    border-radius: 0.6em;
    font-size: 1.1em;
    max-width: 100%;
    height: auto;
}

#myBtn:hover{
    background-color: rgb(228, 0, 178);
}


header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 6em;
    padding: 0 5.5em;
    background-color: #C4A5FD;
    max-width: 100%;
    place-content: center;
}

.home{
    display: grid;
    place-self: center;
    justify-self: start;
    grid-column-start: 1;
    width: max-content;
    
}

.home a{
    text-decoration: none;
    color: #202020;
    width: fit-content;
}

.home a:hover{
    color: red;
}

.contact {
    text-decoration: none;
    place-self: center;
}

.contact a{
    text-decoration: none;
    place-self: center;
    color: #202020;
}

.anchor{
    display: flex;
    place-self: center;
    grid-column: 3;
    grid-row: 1;
    width: max-content;
}

.anchor a{
    text-decoration: none;
    padding: 1em;
    margin: 0.1em;
    color: #202020;
    width: fit-content;
}

.anchor a:hover{
    color: red;
}

.menu{
    justify-self: end;
    align-self: center;
}

.menu a{
    font-weight:bolder;
}

.menu a:hover{
    color: red;
}

main{
    max-width: auto;
    height: auto;
}

.txt{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100%;
    width: auto;
    max-width: 100%;
    padding: 1em 5.5em;
}

.tp{
    grid-column: 1 /span 2;
    place-self: center;
    justify-self: start;
    font-size: 1.5em;
}

.pic{
    width: 100%;
    max-width: 40em;
    height: auto;
    place-self: center;
    border-radius: 1em;
    grid-column: 3/span 4;
}

.title{
    grid-column: 1 /span 4;
    grid-row: 1;
    place-self: center;
    align-self: start;
}

.txt1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 8fr;
    background-color: #efefef;
    height: auto;
    padding: 1em 5.5em;
}

.tp1{
    grid-column: 1 /span 2;
    place-self: center;
    justify-self: start;
    font-size: 1.5em;
}

.slideshow-container{
    max-width: 32em;
    width: 100%;
    position: relative;
    margin: auto;
    grid-column: 3 /span 4;
  }

  .slideshow-container img{
    border-radius: 1em;
  }
  
  .text {
    color: #000000;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.conteiner3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto 1fr;
    height: auto;
    max-width: 100%;
    padding: 1em 5.5em;

}

.conteiner3 a{
    display: inline-flex;
    text-decoration: none;
    background-color: #202020;
    color: #efefef;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    height: auto;
    margin-top: 0.5em;
    justify-self: center;
}

.conteiner3 img{
    max-width: 90%;
    border-radius: 1em;
    height: auto;
    margin-left: 1em;
}

.demo{
    grid-row-start: 3;
    place-self: center;
    margin-left: 1em;
    max-width: max-content;
    height: auto;
}

.skill{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr auto 1fr;
    color: #f7f7f7;
    height: auto;
    max-width: 100%;
    background-color: #202020;
    padding: 1em 5.5em;
}



.s1{
    display: grid;
    grid-column: 1 /span 2;
    grid-row: 2;
    place-self: center;
    align-self: start;
    max-height: fit-content;
    color: #C4A5FD;
}

.s2{
    display: grid;
    grid-column: 3 /span 4;
    grid-row: 2;
    place-self: center;
    align-self: start;
    max-height: fit-content;
    color: #C4A5FD;
}

.skillH2{
    grid-column: 1 / span 2;
    place-self: center;
    color: #f7f7f7;
    padding: 1em;
}
.s1a{
    grid-column-start: 1; 
    list-style-type: none;
    margin: -1em;
    border: 0;
    padding: 2em;
    width: max-content;
}

.s1b{
    grid-column-start: 2;
    list-style-type: none;
    margin: -1em;
    border: 0;
    padding: 2em;
    width: max-content;
}

.webDesigner{
    grid-row-start: 3;
    grid-column: 1 /span 4;
    place-self: center;
}

.webDesigner img{
    max-width: 100%;
    width: 20em;
    height: auto;
}

footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #6441A5;
    padding: 1em 5.5em;
}

.copyRight{
    max-width: 100%;
    height: auto;
    width: auto;
    place-self: center;
    grid-column: 1 /span 4;
    color: #cccccc;
}

@media screen  and (max-width: 1200){

}